<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


<div class="container">
<% if@dataset_info['Fields'].respond_to?('each') %>

 <div class="panel panel-default">
 <div class="panel-body">
 <H1> Metadata for  <%= @dataset_info['Dataset Name'] %>  </H1>
  <h2> Overview </h2>
  <ul>
      <% @dataset_info.each do |info, val| %>
      <% if info != 'Fields' %>
        <li><b><%=info%></b> <%=val %></li>
        <% end %>
        <% end %>
     </ul>
  </div>
</div>
<div>
<table id="metadata_columns" class="table tablesorter table-striped table-hover">
<thead>
<tr>
      <th><h4>Field Name </h4></th>
      <th><h4>Field Type</h4> </th>
      <th><h4>Field Definition</h4> </th>
    </tr>
    </thead>
    <tbody>
    <% @dataset_info['Fields'].each do |field| %>
      <tr>
      <td>
        <b><%= field['field_name'] %></b>
      </td>
      <td>
        <%= field['field_type'] %>
      </td>
      <td>
        <%= field['field_definition'] %>
      </td>
    <% end %>
    </tr>
    </tbody>
    </table>
</div>

<%else %>
 <div style="padding-top:10%;"></div>
 <div class="panel panel-defaul">
 <div class="panel-body">
  <div style="color:orange;font-size:300%;padding-bottom:3%"><%=@dataset_info['fields'] %> </div>
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Tumbeasts_run1.png" alt="404">

  </div>
</div>
<% end %>

</div>



 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.4/js/jquery.tablesorter.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
$(function(){
$("#metadata_columns").tablesorter();
});
});
</script>
